<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 3000px;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-bt-iner">
                            <div class="header-hotline">
                                <img src="./img/svg/icon-phone.svg" alt="icon-phone.svg">
                                <div class="hotline-text">
                                    <p class="hotline-t">
                                        Hotline:
                                    </p>
                                    <a href="#" class="hotline-num f-bold main-cl">
                                        (028)7.30.30.369
                                    </a>
                                </div>
                            </div>

                            <div class="header-logo">
                                <a href="home.html">
                                    <img src="./img/logo-header.png" alt="logo-header.png">
                                </a>
                            </div>
                            <div class="header-right">
                                <a href="#" class="header-signup">Đăng ký học</a>

                                <div class="hamburger-btn">
                                    <div class="bar"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="header-bmenu">
                <div class="container">
                    <div class="header-menu">
                        <div class="header-menu-inner">
                            <div class="header-menu-logo">
                                <a href="home.html">
                                    <img src="./img/logo-header.png" alt="logo-header.png">
                                </a>
                            </div>
                            <ul class="header-menu-nav">
                                <li class="current-menu dropdown">
                                    <a href="#">Seami</a>
                                    <ul class="sub-menu">
                                        <div class="triangle"></div>
                                        <li class="active">
                                            <a href="#">
                                                Đội ngũ giảng viên
                                                <img src="./img/svg/icon-teacher.svg" alt="icon-teacher.svg"
                                                    class="me-icon">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Phòng học - trang thiết bị
                                                <img src="./img/svg/icon-guita.svg" alt="icon-guita.svg"
                                                    class="me-icon">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Gallery
                                                <img src="./img/svg/icon-img.svg" alt="icon-img.svg" class="me-icon">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Cảm nhận học viên
                                                <img src="./img/svg/icon-mess.svg" alt="icon-mess.svg" class="me-icon">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Thành quả học viên
                                                <img src="./img/svg/icon-music.svg" alt="icon-music.svg"
                                                    class="me-icon">
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Khóa học</a>
                                    <ul class="mega-menu mega-menu-multi sub-menu">
                                        <div class="triangle"></div>
                                        <li class="drop-mega ">
                                            <a href="#">Guitar</a>
                                            <ul class="mega-list">
                                                <li class="">
                                                    <a href="#">Guitar trẻ em</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online 1 kèm 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Cấp tốc</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online lớp nhóm</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Quy chuẩn</a>
                                                </li>
                                                <li>
                                                    <a href="#">Khoá học Ukulele</a>
                                                </li>
                                                <li>
                                                    <a href="#">Electric guitar</a>
                                                </li>
                                                <div class="mega-img">
                                                    <img src="./img/img-guitar.png" alt="img-guitar.png">
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="drop-mega">
                                            <a href="#">Piano & Organ</a>
                                            <ul class="mega-list">
                                                <li class="">
                                                    <a href="#">Guitar trẻ em</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online 1 kèm 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Cấp tốc</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online lớp nhóm</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Quy chuẩn</a>
                                                </li>
                                                <div class="mega-img">
                                                    <img src="./img/img-guitar.png" alt="img-guitar.png">
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="drop-mega">
                                            <a href="#">Thanh nhạc</a>
                                            <ul class="mega-list">
                                                <li class="">
                                                    <a href="#">Guitar trẻ em</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online 1 kèm 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Cấp tốc</a>
                                                </li>

                                                <div class="mega-img">
                                                    <img src="./img/img-guitar.png" alt="img-guitar.png">
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="drop-mega">
                                            <a href="#">Trống và bộ dây</a>
                                            <ul class="mega-list">
                                                <li class="">
                                                    <a href="#">Guitar trẻ em</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online 1 kèm 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Cấp tốc</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online lớp nhóm</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Quy chuẩn</a>
                                                </li>
                                                <div class="mega-img">
                                                    <img src="./img/img-guitar.png" alt="img-guitar.png">
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="drop-mega">
                                            <a href="#">Nhạc cụ thổi</a>
                                            <ul class="mega-list">
                                                <li class="">
                                                    <a href="#">Guitar trẻ em</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online 1 kèm 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Cấp tốc</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online lớp nhóm</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Quy chuẩn</a>
                                                </li>
                                                <li>
                                                    <a href="#">Khoá học Ukulele</a>
                                                </li>
                                                <li>
                                                    <a href="#">Electric guitar</a>
                                                </li>
                                                <div class="mega-img">
                                                    <img src="./img/img-guitar.png" alt="img-guitar.png">
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="drop-mega">
                                            <a href="#">Khác</a>
                                            <ul class="mega-list">
                                                <li class="">
                                                    <a href="#">Guitar trẻ em</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online 1 kèm 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Cấp tốc</a>
                                                </li>
                                                <div class="mega-img">
                                                    <img src="./img/img-guitar.png" alt="img-guitar.png">
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="mobile-menu-back-item">
                                            <a href="#" class="mobile-menu-back-link">Back</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Hoạt động</a>
                                    <ul class="sub-menu">
                                        <div class="triangle"></div>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Thư viện</a>
                                    <ul class="sub-menu">
                                        <div class="triangle"></div>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Hợp tác</a>
                                    <ul class="sub-menu">
                                        <div class="triangle"></div>
                                        <li>
                                            <a href="#">test sub menu 1</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">test sub menu 1</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="#">test sub menu 2</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu 2</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu 2</a>
                                                </li>
                                            </ul>

                                        </li>
                                        <li>
                                            <a href="#">test sub menu 1</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu 1</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Hỏi thầy cô</a>
                                </li>
                                <li>
                                    <a href="#">Liên hệ</a>
                                </li>
                            </ul>


                            <div class="header-menu-socail">
                                <a href="#" class="menu-socail socail-face">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="menu-socail socail-youtube">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="menu-socail socail-insta">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="overplay"></div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="container">
                <div class="test-main" style="height: 500px; background: sandybrown;"></div>

                <nav class='pagination'>
                    <ul class='page-numbers'>
                        <li>
                            <span aria-current='page' class='page-numbers current'>1</span>
                        </li>
                        <li><a class='page-numbers' href='#'>2</a></li>
                        <li><a class='page-numbers' href='#'>...</a></li>
                        <li><a class='page-numbers' href='#'>4</a></li>
                        <li><a class='page-numbers' href='#'>10</a></li>
                    </ul>
                </nav>

                <nav class='pagination pagi-two'>
                    <ul class='page-numbers'>
                        <li>
                            <a href="#" class="page-arrow">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <span aria-current='page' class='page-numbers current'>1</span>
                        </li>
                        <li><a class='page-numbers' href='#'>02</a></li>
                        <li><a class='page-numbers' href='#'>03</a></li>
                        <li><a class='page-numbers' href='#'>04</a></li>
                        <li>
                            <a href="#" class="page-arrow ">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="popup-box">
                    <a href="#popup-form" class="popup-title">Popup test</a>
                    <div class="mfp-hide white-popup-block sg-content" id="popup-form">
                        <h1>Popup test test</h1>
                        <img src="./img/pro2.png" alt="pro2.png">
                    </div>
                </div>

                <div class="tab tab-lines tab-mobi">
                    <div class="tab-tt">
                        <div class="tab-link-mobi">
                            <p class="tt-18 f-bold">Danh mục </p>
                        </div>
                        <div class="tab-link">
                            <div class="tab-title active">
                                <p>test 1</p>
                            </div>
                            <div class="tab-title">
                                <p>test 2</p>
                            </div>
                            <div class="tab-title">
                                <p>test 3</p>
                            </div>
                            <div class="tab-line"></div>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-content-box active">
                            <h1>content test 1</h1>
                        </div>
                        <div class="tab-content-box">
                            <h1>content test 2</h1>
                        </div>
                        <div class="tab-content-box">
                            <h1>content test 3</h1>
                        </div>
                    </div>
                </div>

                <div class="countup-box" id="countup">
                    <div class="counter" data-count='15000'>
                        <p>0%</p>

                    </div>
                    <div class="counter" data-count='1000'>
                        <p>0</p>
                    </div>
                </div>

                <div class="breadcrumb">
                    <div class="container">
                        <ul class="breadcrumb-menu">
                            <li class="breadcrumb-list">
                                <a href="home.html">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-list current">
                                <a href="news.html">Tin tức</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="countup">
                    <span class="js-counter" data-counter="5000"></span>
                </div>

                <div class="count-down" data-end-time="05/30/2021">
                    <div class="day"></div>
                    <div class="hours"></div>
                    <div class="minutes"></div>
                    <div class="seconds"></div>
                </div>

                <div class="box-light-dark">
                    <label class="switch">
                        <input type="checkbox" class="switch-state">
                        <span class="switch-toggle"></span>
                    </label>
                </div>

                <div class="swiper-demo">
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">Slide 1</div>
                            <div class="swiper-slide">Slide 2</div>
                            <div class="swiper-slide">Slide 3</div>

                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>


                    </div>
                </div>
                <div class="asd wow animate__rotateIn"> qweqwe</div>
            </div>


        </main>
        <footer class="footer">
            <div class="test">

            </div>
        </footer>
        <!-- cart popup -->
        <div class="cart-popup">
            <div class="bg-cart"></div>
            <div class="box-cart">
                <div class="wrapper-box-cart">
                    <div class="hd-box-cart">
                        <h3 class="title-name">Shopping Cart</h3>
                        <button class="btn-close">Close</button>
                    </div>
                    <div class="container-boxcart">
                        <div class="product-list">
                            <div class="product-bag">
                                <div class="product-bag-img">
                                    <img src="img/pro2.png" alt="">
                                </div>
                                <div class="product-data">
                                    <div class="product-bag-detail">
                                        <a class="name-product-cart" href="#">Áo thun
                                            nam</a>
                                        <span class="product-size">XXL</span>
                                    </div>
                                    <div class="product-row">
                                        <div class="cart-qty">
                                            <button class="cart-qty-minus" type="button" value="-">-</button>

                                            <input type="text" name="qty" min="0" class="qty form-control" value="1" />

                                            <button class="cart-qty-plus" type="button" value="+">+</button>
                                        </div>
                                        <div class="product-price">
                                            <span>1,900,000 đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-bag">
                                <div class="product-bag-img">
                                    <img src="img/pro2.png" alt="">
                                </div>
                                <div class="product-data">
                                    <div class="product-bag-detail">
                                        <a class="name-product-cart" href="#">Áo thun
                                            nam</a>
                                        <span class="product-size">XXL</span>
                                    </div>
                                    <div class="product-row">
                                        <div class="cart-qty">
                                            <button class="cart-qty-minus" type="button" value="-">-</button>

                                            <input type="text" name="qty" min="0" class="qty form-control" value="1" />
                                            <button class="cart-qty-plus" type="button" value="+">+</button>
                                        </div>
                                        <div class="product-price">
                                            <span>1,900,000 đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-bag">
                                <div class="product-bag-img">
                                    <img src="img/pro2.png" alt="">
                                </div>
                                <div class="product-data">
                                    <div class="product-bag-detail">
                                        <a class="name-product-cart" href="#">Áo thun
                                            nam</a>
                                        <span class="product-size">XXL</span>
                                    </div>
                                    <div class="product-row">
                                        <div class="cart-qty">
                                            <button class="cart-qty-minus" type="button" value="-">-</button>

                                            <input type="text" name="qty" min="0" class="qty form-control" value="1" />
                                            <button class="cart-qty-plus" type="button" value="+">+</button>
                                        </div>
                                        <div class="product-price">
                                            <span>1,900,000 đ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-boxcart">
                        <div class="wrapper-footer-boxcart">
                            <div class="box-sum-cart">
                                <p class="cart-sum-title">Tổng :</p>
                                <p class="cart-sum">1,630,000VNĐ</p>
                            </div>
                            <div class="cart-link">
                                <a href="#" class="btn btn-checkout">CHECKOUT</a>
                                <a href="#" class="btn btn-yourcart">YOUR CART</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- scroll top 1 -->
        <div class="scroll-top"></div>

    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>