<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: auto;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-bt-iner">
                            <div class="header-hotline">
                                <a href="tel:02873030369" class="hotline-img">
                                    <img src="./img/svg/icon-phone.svg" alt="icon-phone.svg">
                                </a>

                                <div class="hotline-text">
                                    <p class="hotline-t">
                                        Hotline:
                                    </p>
                                    <a href="tel:02873030369" class="hotline-num f-bold main-cl">
                                        (028)7.30.30.369
                                    </a>
                                </div>
                            </div>

                            <div class="header-logo">
                                <a href="home.html">
                                    <img src="./img/logo-header.png" alt="logo-header.png">
                                </a>
                            </div>
                            <div class="header-right">
                                <div class="header-sigup">
                                    <a href="#" class="signup-desktop">Đăng ký học
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                    </a>

                                </div>

                                <div class="hamburger-btn">
                                    <div class="bar"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="header-bmenu">
                <div class="container">
                    <div class="header-menu">
                        <div class="header-menu-inner">
                            <div class="header-menu-logo">
                                <a href="home.html">
                                    <img src="./img/logo-header.png" alt="logo-header.png">
                                </a>
                            </div>
                            <ul class="header-menu-nav">
                                <li class="current-menu dropdown">
                                    <a href="#">Seami</a>
                                    <ul class="sub-menu">
                                        <div class="triangle"></div>
                                        <li class="active">
                                            <a href="#">
                                                Đội ngũ giảng viên
                                                <img src="./img/svg/icon-teacher.svg" alt="icon-teacher.svg"
                                                    class="me-icon">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Phòng học - trang thiết bị
                                                <img src="./img/svg/icon-guita.svg" alt="icon-guita.svg"
                                                    class="me-icon">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Gallery
                                                <img src="./img/svg/icon-img.svg" alt="icon-img.svg" class="me-icon">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Cảm nhận học viên
                                                <img src="./img/svg/icon-mess.svg" alt="icon-mess.svg" class="me-icon">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Thành quả học viên
                                                <img src="./img/svg/icon-music.svg" alt="icon-music.svg"
                                                    class="me-icon">
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown ">
                                    <a href="#">Khóa học</a>
                                    <ul class="mega-menu mega-menu-multi  ">
                                        <div class="triangle"></div>
                                        <li class="drop-mega">
                                            <a href="#">Guitar</a>
                                            <ul class="mega-list">
                                                <li class="">
                                                    <a href="#">Guitar trẻ em</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online 1 kèm 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Cấp tốc</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online lớp nhóm</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Quy chuẩn</a>
                                                </li>
                                                <li>
                                                    <a href="#">Khoá học Ukulele</a>
                                                </li>
                                                <li>
                                                    <a href="#">Electric guitar</a>
                                                </li>
                                                <div class="mega-img">
                                                    <img src="./img/img-guitar.png" alt="img-guitar.png">
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="drop-mega">
                                            <a href="#">Piano & Organ</a>
                                            <ul class="mega-list">
                                                <li class="">
                                                    <a href="#">Guitar trẻ em</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online 1 kèm 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Cấp tốc</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online lớp nhóm</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Quy chuẩn</a>
                                                </li>
                                                <div class="mega-img">
                                                    <img src="./img/img-guitar.png" alt="img-guitar.png">
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="drop-mega">
                                            <a href="#">Thanh nhạc</a>
                                            <ul class="mega-list">
                                                <li class="">
                                                    <a href="#">Guitar trẻ em</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online 1 kèm 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Cấp tốc</a>
                                                </li>

                                                <div class="mega-img">
                                                    <img src="./img/img-guitar.png" alt="img-guitar.png">
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="drop-mega">
                                            <a href="#">Trống và bộ dây</a>
                                            <ul class="mega-list">
                                                <li class="">
                                                    <a href="#">Guitar trẻ em</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online 1 kèm 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Cấp tốc</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online lớp nhóm</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Quy chuẩn</a>
                                                </li>
                                                <div class="mega-img">
                                                    <img src="./img/img-guitar.png" alt="img-guitar.png">
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="drop-mega">
                                            <a href="#">Nhạc cụ thổi</a>
                                            <ul class="mega-list">
                                                <li class="">
                                                    <a href="#">Guitar trẻ em</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online 1 kèm 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Cấp tốc</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online lớp nhóm</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Quy chuẩn</a>
                                                </li>
                                                <li>
                                                    <a href="#">Khoá học Ukulele</a>
                                                </li>
                                                <li>
                                                    <a href="#">Electric guitar</a>
                                                </li>
                                                <div class="mega-img">
                                                    <img src="./img/img-guitar.png" alt="img-guitar.png">
                                                </div>
                                            </ul>
                                        </li>
                                        <li class="drop-mega">
                                            <a href="#">Khác</a>
                                            <ul class="mega-list">
                                                <li class="">
                                                    <a href="#">Guitar trẻ em</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Online 1 kèm 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Guitar Cấp tốc</a>
                                                </li>
                                                <div class="mega-img">
                                                    <img src="./img/img-guitar.png" alt="img-guitar.png">
                                                </div>
                                            </ul>
                                        </li>
                                        <li class=" mega-back">
                                            <a href="#" class="mega-back-link">Back</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Hoạt động</a>
                                    <ul class="sub-menu">
                                        <div class="triangle"></div>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Thư viện</a>
                                    <ul class="sub-menu">
                                        <div class="triangle"></div>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Hợp tác</a>
                                    <ul class="sub-menu">
                                        <div class="triangle"></div>
                                        <li>
                                            <a href="#">test sub menu 1</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">test sub menu 1</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="#">test sub menu 2</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu 2</a>
                                                </li>
                                                <li>
                                                    <a href="#">test sub menu 2</a>
                                                </li>
                                            </ul>

                                        </li>
                                        <li>
                                            <a href="#">test sub menu 1</a>
                                        </li>
                                        <li>
                                            <a href="#">test sub menu 1</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Hỏi thầy cô</a>
                                </li>
                                <li>
                                    <a href="#">Liên hệ</a>
                                </li>
                            </ul>


                            <div class="header-menu-socail">
                                <a href="#" class="menu-socail socail-face">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="menu-socail socail-youtube">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="menu-socail socail-insta">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="overplay"></div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">

            <section class="brand-seami">
                <div class="bg-brand-seami">
                    <img src="./img/bg-logo-seami.png" alt="bg-logo-seami.png">
                </div>
                <div class="container">
                    <div class="brand-wrapper">
                        <div class="brand-head t-center">
                            <p class="seami-label f-dancing f-bold main-cl">
                                Seami - Music in town
                            </p>
                            <h3 class="brand-title tt-36 t-uppercase f-normal wow animate__bounceIn">
                                THƯƠNG HIỆU SEAMI - MUSIC IN TOWN
                            </h3>
                            <p class="brand-text f-light">
                                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est gubergren, no sea takimata sanctus est
                            </p>
                        </div>

                        <div class="brand-main">
                            <div class="columns">
                                <div class="column" data-aos="zoom-in">
                                    <div class="brand-box">
                                        <div class="brand-img">
                                            <img src="./img/svg/icon-school.svg" alt="icon-school.svg">
                                        </div>
                                        <div class="brand-cont">
                                            <h4 class="brand-tt tt-18 f-bold">
                                                6 trung tâm tại Hồ chí minh
                                            </h4>
                                            <p class="brand-desc f-light">
                                                Có mặt tại Quận 1, Quận 2, Quận 7, Tân Bình, Tân Phú, Bình Thạnh và
                                                không ngừng mở rộng trung tâm.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column" data-aos="zoom-in">
                                    <div class="brand-box">
                                        <div class="brand-img">
                                            <img src="./img/svg/icon-people-main.svg" alt="icon-people-main.svg">
                                        </div>
                                        <div class="brand-cont">
                                            <h4 class="brand-tt tt-18 f-bold">
                                                Hơn 5.800 học viên
                                            </h4>
                                            <p class="brand-desc f-light">
                                                Trong suốt 6 năm hoạt động, SEAMI đã đào tạo được hơn 5.600 học viên ở
                                                các lĩnh vực âm nhạc.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column" data-aos="zoom-in">
                                    <div class="brand-box">
                                        <div class="brand-img">
                                            <img src="./img/svg/icon-teacher-main.svg" alt="icon-teacher-main.svg">
                                        </div>
                                        <div class="brand-cont">
                                            <h4 class="brand-tt tt-18 f-bold">
                                                Giảng viên giàu kinh nghiệm
                                            </h4>
                                            <p class="brand-desc f-light">
                                                Kế thừa đội ngũ giảng viên đa quốc gia giàu kinh nghiệm với tối thiểu
                                                500+ giờ dạy.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column" data-aos="zoom-in">
                                    <div class="brand-box">
                                        <div class="brand-img">
                                            <img src="./img/svg/icon-certificate.svg" alt="icon-certificate.svg">
                                        </div>
                                        <div class="brand-cont">
                                            <h4 class="brand-tt tt-18 f-bold">
                                                Hệ thống chứng chỉ quốc tế
                                            </h4>
                                            <p class="brand-desc f-light">
                                                Hệ thống chứng chỉ quốc tế danh tiếng như RockSchool và ABRSM
                                                (Associated Board of the Royal Schools of Music)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column" data-aos="zoom-in">
                                    <div class="brand-box">
                                        <div class="brand-img">
                                            <img src="./img/svg/icon-verify.svg" alt="icon-verify.svg">
                                        </div>
                                        <div class="brand-cont">
                                            <h4 class="brand-tt tt-18 f-bold">
                                                Hệ thống & lộ trình
                                            </h4>
                                            <p class="brand-desc f-light">
                                                Hệ thống lộ trình được xây dựng và kiểm định bởi đội ngũ giảng viên
                                                chuyên môn cao. Phù hợp với mọi trình độ và mục tiêu học tập của từng
                                                học viên
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column" data-aos="zoom-in">
                                    <div class="brand-box">
                                        <div class="brand-img">
                                            <img src="./img/svg/icon-computer.svg" alt="icon-computer.svg">
                                        </div>
                                        <div class="brand-cont">
                                            <h4 class="brand-tt tt-18 f-bold">
                                                Ứng dụng công nghệ hiện đại
                                            </h4>
                                            <p class="brand-desc f-light">
                                                Ứng dụng công nghệ trao đổi nhanh chóng với giáo viên và học viên và
                                                quản lý hệ thống kinh doanh dễ dàng hơn
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="franchise-seami sec-80">
                <div class="container">
                    <div class="brand-wrapper">
                        <div class="fran-head">
                            <p class="seami-label f-dancing f-bold main-cl">
                                Thương hiệu
                            </p>
                            <h3 class="fran-title tt-36 t-uppercase f-light wow animate__bounceInRight">
                                NHƯỢNG QUYỀN THƯƠNG HIỆU TRUNG TÂM ÂM NHẠC
                            </h3>
                        </div>

                        <div class="fran-content" data-aos="fade-up">
                            <div class="columns">
                                <div class="column">
                                    <div class="fran-inner">
                                        <div class="mona-content">
                                            <p>
                                                Nếu bạn đang tìm kiếm một sự hỗ trợ để đầu tư mở trung tâm âm nhạc thành
                                                công, hãy liên
                                                hệ với SEAMI Partners. SEAMI với bề dày kinh nghiệm trong ngành với hơn
                                                <span class="f-bold main-cl"> 6 trung tâm tại Tp.HCM</span> , tổng lượt
                                                học
                                                viên đã từng học là <span class="f-bold main-cl">+5.800 người</span> (số
                                                liệu vào
                                                tháng 06/2019).
                                            </p>
                                            <br>
                                            <p>
                                                SEAMI cung cấp giải pháp Nhượng quyền được thiết kế đặc biệt nhằm đáp
                                                ứng nhu cầu của các tổ chức và cá nhân mong muốn đầu tư vào lĩnh vực
                                                giáo dục với nhiều tiềm năng phát triển. Trên cơ sở <span
                                                    class="main-cl f-bold">hợp tác WIN-WIN</span> và
                                                <span class="main-cl f-bold">hỗ trợ cùng phát triển</span>, chúng tôi
                                                tin sẽ mang lại giá trị đích thực cho
                                                đồng vốn của bạn. Giải pháp
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="column">
                                    <div class="fran-inner">
                                        <div class="mona-content">
                                            <h4 class="f-bold t-uppercase main-cl"
                                                >Giải pháp nhượng quyền của Seami bao gồm:
                                            </h4>
                                            <p>Tài liệu Quản lý chất lượng Tiết học</p>

                                            <ul>
                                                <li>
                                                    Cẩm nang quản lý chất lượng dành cho Quản lý
                                                </li>
                                                <li>
                                                    Hệ thống quản lý Từng Tiết học
                                                </li>
                                                <li>
                                                    Hệ thống quản lý Giáo viên
                                                </li>
                                                <li>
                                                    Hệ thống quản lý Báo bài (Lesson Reports)
                                                </li>
                                                <li>
                                                    Hệ thống đánh giá chất lượng giáo viên
                                                </li>
                                            </ul>

                                            <p>Phần mềm CRM được thiết kế riêng để quản lý khách hàng và sinh viên,
                                                học viên</p>
                                            <p>Sổ tay Hướng dẫn Vận hành trọn bộ</p>
                                            <p>Hỗ trợ Tuyển dụng – Đào tạo Giáo Viên</p>
                                            <p>Hỗ trợ đầy đủ cho việc thiết lập và quản lý trung tâm</p>
                                            <p>Hỗ trợ Chiêu sinh – Truyền Thông – Thương hiệu cho Cơ cở</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="frequent-question bg-main">
                <div class="container">
                    <div class="question-wrapper">
                        <p class="seami-label main-cl f-bold f-dancing">
                            FAQs
                        </p>
                        <h3 class="question-title f-light tt-36 t-center t-uppercase wow animate__bounceIn">
                            CÁC CÂU HỎI THƯỜNG GẶP
                        </h3>

                        <div class="question-main">
                            <div class="columns">
                                <div class="column" data-aos="fade-right">
                                    <div class="question-inner">
                                        <div class="question-box">
                                            <h4 class="question-tt tt-16 f-bold">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Faucibus lectus nunc venenatis id in aliquet ?

                                            </h4>
                                            <div class="question-content ">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                                                    lectus nunc venenatis id in aliquet. Ipsum facilisis pretium
                                                    enim, sit etiam ac. Iaculis sed nam lectus
                                                    <br> <br>
                                                    Eget nisl, vestibulum morbi scelerisque nisi eget faucibus ipsum
                                                    quam. Mi aliquet eget vel tempus nascetur.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="question-box ">
                                            <h4 class="question-tt tt-16 f-bold">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </h4>
                                            <div class="question-content ">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                                                    lectus nunc venenatis id in aliquet. Ipsum facilisis pretium
                                                    enim, sit etiam ac. Iaculis sed nam lectus
                                                    <br> <br>
                                                    Eget nisl, vestibulum morbi scelerisque nisi eget faucibus ipsum
                                                    quam. Mi aliquet eget vel tempus nascetur.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="question-box ">
                                            <h4 class="question-tt  tt-16 f-bold">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Faucibus lectus nunc venenatis id in aliquet ?

                                            </h4>
                                            <div class="question-content ">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                                                    lectus nunc venenatis id in aliquet. Ipsum facilisis pretium
                                                    enim, sit etiam ac. Iaculis sed nam lectus
                                                    <br> <br>
                                                    Eget nisl, vestibulum morbi scelerisque nisi eget faucibus ipsum
                                                    quam. Mi aliquet eget vel tempus nascetur.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="question-box ">
                                            <h4 class="question-tt tt-16 f-bold">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </h4>
                                            <div class="question-content ">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                                                    lectus nunc venenatis id in aliquet. Ipsum facilisis pretium
                                                    enim, sit etiam ac. Iaculis sed nam lectus
                                                    <br> <br>
                                                    Eget nisl, vestibulum morbi scelerisque nisi eget faucibus ipsum
                                                    quam. Mi aliquet eget vel tempus nascetur.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="question-box ">
                                            <h4 class="question-tt tt-16 f-bold">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Faucibus lectus nunc venenatis id in aliquet ?

                                            </h4>
                                            <div class="question-content ">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                                                    lectus nunc venenatis id in aliquet. Ipsum facilisis pretium
                                                    enim, sit etiam ac. Iaculis sed nam lectus
                                                    <br> <br>
                                                    Eget nisl, vestibulum morbi scelerisque nisi eget faucibus ipsum
                                                    quam. Mi aliquet eget vel tempus nascetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column" data-aos="fade-left">
                                    <div class="question-inner">
                                        <div class="question-box ">
                                            <h4 class="question-tt tt-16 f-bold">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Faucibus lectus nunc venenatis id in aliquet ?

                                            </h4>
                                            <div class="question-content ">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                                                    lectus nunc venenatis id in aliquet. Ipsum facilisis pretium
                                                    enim, sit etiam ac. Iaculis sed nam lectus
                                                    <br> <br>
                                                    Eget nisl, vestibulum morbi scelerisque nisi eget faucibus ipsum
                                                    quam. Mi aliquet eget vel tempus nascetur.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="question-box ">
                                            <h4 class="question-tt tt-16 f-bold">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </h4>
                                            <div class="question-content ">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                                                    lectus nunc venenatis id in aliquet. Ipsum facilisis pretium
                                                    enim, sit etiam ac. Iaculis sed nam lectus
                                                    <br> <br>
                                                    Eget nisl, vestibulum morbi scelerisque nisi eget faucibus ipsum
                                                    quam. Mi aliquet eget vel tempus nascetur.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="question-box ">
                                            <h4 class="question-tt tt-16 f-bold">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Faucibus lectus nunc venenatis id in aliquet ?

                                            </h4>
                                            <div class="question-content ">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                                                    lectus nunc venenatis id in aliquet. Ipsum facilisis pretium
                                                    enim, sit etiam ac. Iaculis sed nam lectus
                                                    <br> <br>
                                                    Eget nisl, vestibulum morbi scelerisque nisi eget faucibus ipsum
                                                    quam. Mi aliquet eget vel tempus nascetur.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="question-box ">
                                            <h4 class="question-tt tt-16 f-bold">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </h4>
                                            <div class="question-content ">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                                                    lectus nunc venenatis id in aliquet. Ipsum facilisis pretium
                                                    enim, sit etiam ac. Iaculis sed nam lectus
                                                    <br> <br>
                                                    Eget nisl, vestibulum morbi scelerisque nisi eget faucibus ipsum
                                                    quam. Mi aliquet eget vel tempus nascetur.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="question-box ">
                                            <h4 class="question-tt tt-16 f-bold">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Faucibus lectus nunc venenatis id in aliquet ?

                                            </h4>
                                            <div class="question-content ">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                                                    lectus nunc venenatis id in aliquet. Ipsum facilisis pretium
                                                    enim, sit etiam ac. Iaculis sed nam lectus
                                                    <br> <br>
                                                    Eget nisl, vestibulum morbi scelerisque nisi eget faucibus ipsum
                                                    quam. Mi aliquet eget vel tempus nascetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>

            <section class="join-seami" style="background-image: url('./img/bg-join.png');">
                <div class="container">
                    <div class="join-wrapper">
                        <div class="join-head">
                            <p class="seami-label f-dancing f-bold main-cl">
                                Đăng ký hợp tác & nhượng quyền
                            </p>
                            <h3 class="join-title tt-36 t-uppercase f-light wow animate__bounceInRight">
                                THAM GIA NHƯỢNG QUYỀN THƯƠNG
                                HIỆU SEAMI
                            </h3>
                            <p class="join-desc">
                                Nếu anh chị quan tâm tới chương trình nhượng quyền thương hiệu
                                <span class="f-bold main-cl">trung tâm âm nhạc SEAMI</span> <br>
                                Vui lòng gửi thông theo mẫu dưới đây và chúng tôi sẽ sớm liên hệ lại.
                            </p>
                        </div>

                        <div class="join-main teacher-popup">
                            <div class="teacher-form">
                                <div class="teacher-group">
                                    <div class="teacher-f">
                                        <label class="label">
                                            Họ tên học viên
                                        </label>
                                        <input type="text" placeholder="Họ và tên" class="f-control">
                                        <span class="t-note">*Mục này không để trống. Vui
                                            lòng nhập lại.</span>
                                    </div>
                                    <div class="teacher-f">
                                        <input type="text" placeholder=" Email" class="f-control">
                                    </div>
                                </div>
                                <div class="teacher-group">
                                    <div class="teacher-f">
                                        <input type="text" placeholder=" Số điện thoại" class="f-control">
                                    </div>
                                    <div class="teacher-f">
                                        <input type="text" placeholder=" Địa chỉ" class="f-control">
                                    </div>
                                </div>

                                <textarea class="f-control mt-35"
                                    placeholder="Seami có thể giúp được gì cho bạn ?"></textarea>

                                <div class="teacher-accept">
                                    <label class="label">
                                        <input type="checkbox">
                                        <div class="accept-box">
                                            <div class="checkmark"></div>
                                            <p class="f-light">Tôi chấp nhận điều khoản và
                                                bảo mật của <span class="f-bold main-cl">SEAMI</span></p>
                                        </div>
                                    </label>
                                </div>

                                <button type="submit" class="f-submit btn tt-12">
                                    Gửi ngay
                                    <img src="./img/svg/icon-arrow-left.svg" alt="icon-arrow-left.svg">
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </main>
        <footer class="footer sec-100 --pb-0">
            <img src="./img/bg-footer.png" alt="bg-footer.png" class="bg-footer">
            <div class="container">
                <div class="footer-wrapper">
                    <div class="columns">
                        <div class="column">
                            <div class="ft-inner">
                                <div class="ft-logo">
                                    <img src="./img/logo-header.png" alt="logo-header.png">
                                </div>
                                <p class="ft-desc tt-12">
                                    South East Asia Music Institute - SEAMI là đơn vị chuyên đào tạo nghệ thuật âm nhạc,
                                    với các bộ môn Guitar, Piano, Thanh nhạc, Trống. Mỗi nơi SEAMI - Music in Town dừng
                                    lại, âm nhạc đều trở thành một phần của không gian sống nơi đó. Tại khu phố nhỏ, mọi
                                    người đều có thể ghé SEAMI học nhạc một cách đơn giản, thoải mái và bình dị nhất.
                                </p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ft-inner">
                                <h4 class="ft-title tt-16 t-uppercase">
                                    HỌC NHẠC CÙNG SEAMI tại
                                </h4>
                                <ul class="ft-list">
                                    <li class="ft-item">
                                        <a href="#" class="ft-link">
                                            HỌC TẠI NHÀ <span>(Tìm hiểu thêm tại đây)</span>
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href='#' class="ft-link">
                                            7A/2 Nguyễn Thị Minh Khai, Q.1
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href='#' class="ft-link">
                                            19 Đường 30, Tân Phong, Q.7
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href='#' class="ft-link">
                                            31/09 Nguyễn Đình Khơi, Q. Tân Bình
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href='#' class="ft-link">
                                            553/18C Lũy Bán Bích, Q. Tân Phú
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href='#' class="ft-link">
                                            188 Nguyễn Thị Minh Khai, Q.3
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="column">
                            <div class="ft-inner">
                                <h4 class="ft-title tt-16 t-uppercase">
                                    CHÍNH SÁCH & ĐIỀU KHOẢN
                                </h4>
                                <ul class="ft-list">
                                    <li class="ft-item">
                                        <a href="#" class="ft-link">
                                            Thông Tin Chủ Sở Hữu Website
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href='#' class="ft-link">
                                            Điều Khoản Sử Dụng Của Người Dùng
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href='#' class="ft-link">
                                            Chính Sách Bảo Mật
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href='#' class="ft-link">
                                            Chính Sách Bảo Mật Của Trẻ Em
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href='#' class="ft-link">
                                            Điều Khoản Sử Dụng Của Giáo Viên
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href='#' class="ft-link">
                                            Chính Sách Công Khai Của Giáo Viên
                                        </a>
                                    </li>
                                    <li class="ft-item">
                                        <a href='#' class="ft-link">
                                            Điều Khoản Logo
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="column">
                            <div class="ft-inner">
                                <h4 class="ft-title tt-16 t-uppercase">
                                    ĐĂNG KÝ NHẬN ƯU ĐÃI
                                </h4>
                                <p class="ft-desc tt-12">
                                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                    accusam et justo duo dolores
                                </p>
                                <div class="ft-form">
                                    <form action="#">
                                        <input type="text" class="f-control" placeholder="Email của bạn...">
                                        <button type="submit" class="f-submit btn">
                                            <img src="./img/svg/icon-fly.svg" alt="icon-fly.svg">
                                        </button>
                                    </form>
                                </div>

                                <div class="ft-img-bct">
                                    <img src="./img/img-bct.png" alt="img-bct.png">
                                    <img src="./img/img-dmca.png" alt="img-dmca.png">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="footer-bottom">
                        <div class="copy-right">
                            <p>Design and develop by Mona Media</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- scroll top 1 -->
        <div class="scroll-top"></div>

    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- video -->
    <script src="./js/libs/fluidplayer/fluidplayer.js"></script>
    <!-- masonry -->
    <script src="./js/libs/masonry/masonry-docs.min.js"></script>
    <script src="./js/libs/masonry/masonry.pkgd.min.js"></script>
    <script src="./js/libs/masonry/masonry.pkgd.js"></script>
    <!-- chart -->
    <script src="./js/libs/chart/chart.min.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>