.main-cl {
    color: $main-cl;
}

.w-cl {
    color: $w-cl;
}

.dis-non {
    display: none;
}

.f-dancing{
    font-family: 'Dancing Script';
}

.seami-label{
    position: relative;
    display: flex;
    align-items: center;

    &::before , &::after{
        content: '';
        background-color: $main-cl;
        width: 30px;
        height: 1px;
        border-radius: 99px;
        display: block;
    }

    &::before{
        margin-right: 10px;
    }

    &::after{
        margin-left: 10px;
    }
}