.header {
    position: relative;
    width: 100%;
    z-index: 900;
    background-color: $w-cl;
    transition: all .3s ease-in;

    &.--fix {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 10px 10px 20px rgba($color: $b-cl, $alpha: 0.16);
        animation: fixedMenu 0.6s;
    }
}


.header-bottom {
    background: $w-cl;

    &-inner {
        // padding: 8px 0;
        display: flex;
        //justify-content: flex-start;
        justify-content: space-between;
        align-items: center;
        // color: $t-w-cl;
        flex-wrap: wrap;
    }
}

.header-logo {

    // margin-right: 15px;
    img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.header-menu-socail {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    @include max-media($bk-d-1200) {
        display: flex;
    }

    .menu-socail {
        width: 30px;
        height: 30px;
        // border: 1px solid $main-cl;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $w-cl;
        border-radius: 100%;
        margin: 0 10px;
        cursor: pointer;

        &.socail-face {
            background-color: #3B5998;
        }

        &.socail-youtube {
            background-color: #EA412C;
        }

        &.socail-insta {
            background-color: $b-cl;
        }
    }
}

.header-bt-iner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
}

.header-hotline {
    display: flex;
    align-items: center;

    .hotline-text {
        padding-left: 13px;

    }

    .hotline-num {
        transition: all .3s ease;
        @include fz-18;

        &:hover {
            color: $b-cl;
        }
    }
}

.header-signup {
    border-radius: 99px;
    border: 1px solid $main-cl;
    // height: 46px;
    width: 170px;
    text-align: center;
    padding: 15px 10px 13px;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    color: $main-cl;
    transition: all .3s ease;
    font-family: 'Nunito Sans';

    &:hover {
        color: $w-cl;
        background-color: $main-cl;
        letter-spacing: 2px;
    }

}

.header-bmenu {
    background-color: $main-cl;

    // padding: 3px 0 2px;
    @include max-media($bk-d-1200) {
        height: 0;
        padding: 0;
    }
}

.header-menu {
    &-inner {
        .header-menu-logo {
            display: none;
            max-width: 200px;
            margin: 0 auto 20px;

            @include max-media($bk-d-1200) {
                display: block;
            }
        }
    }

    @include max-media($bk-d-1200) {
        @include pos-full-fixed;
        left: unset;
        right: 100vw;
        text-align: left;
        transition: all .2s ease;
        z-index: 998;

        &.--active {
            right: 0;
        }

        .header-menu-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: $bg-w-cl;
            padding: 20px 0 40px;
            display: flex;
            flex-direction: column;
            z-index: 99;
        }
    }
}

.header-menu-nav-new {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: $w-cl;

    li {
        &:first-child {
            .menu-linK {
                padding-left: 0;
            }
        }

        &:last-child {
            .menu-linK {
                padding-right: 0;
            }
        }

        //desktop
        @include min-media($bk-1200) {
            &:hover {
                .sub-menu-new {
                    @include visible;
                    pointer-events: all;
                }
            }
        }

        .menu-link {
            padding: 11px 22.5px 10px;
            display: flex;
            align-items: center;
            // i{
            //     padding-left: 5px;
            // }
        }
    }
}

.sub-menu-new {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 200px;
    width: max-content;
    background-color: $bg-w-cl;
    box-shadow: 10px 10px 30px rgba($color: $bg-b-cl, $alpha: 0.16);
    border-radius: 4px;

    // .sub-menu {
    //     top: 0;
    //     left: 100%;
    // }

    @include min-media($bk-1200) {
        min-width: 280px;
        transition: .3s;
        transform: translateY(8px);
        pointer-events: none;
        @include hidden;
        padding: 12.5px 0;

        .triangle {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 17px;
            transform: translateY(-50%);

            &:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 8.5px 17px 8.5px;
                border-color: transparent transparent $w-cl transparent;
                position: absolute;
                top: 0;
                left: 15px;
                z-index: -1;
            }
        }


    }

    li {
        position: relative;

        &.active {
            &::before {
                @include visible;
            }

            a {
                color: $main-cl;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 0;
            width: 2px;
            height: 24px;
            background-color: $main-cl;
            border-radius: 99px;
            transition: all .3s ease;
            @include hidden;
        }

        &:hover {
            &::before {
                @include visible;
            }
        }

        // &:first-child{
        //     a{
        //         @include min-media($bk-1200){
        //             padding-top: 0;
        //         }
        //     }
        // }

        // &:last-child{
        //     a{
        //         @include min-media($bk-1200){
        //             padding-bottom: 0;
        //         }
        //     }
        // }
    }

    .menu-link {
        padding: 15px;
        color: $b-cl;
        position: relative;
        justify-content: space-between;
        width: 100%;


        @include min-media($bk-1200) {
            padding: 12.5px 25px;

            &:hover {
                // color: $t-w-cl;
                // background-color: $main-cl;
                color: $main-cl;

            }
        }
    }

    // .sub-menu{
    //     &:before{
    //         display: none;
    //     }
    // }


    // @include max-media($bk-d-1200) {
    //     position: relative;
    //     top: 0 !important;
    //     left: 0 !important;
    //     width: 100%;
    //     display: none;

    //     a {
    //         padding-left: 30px;
    //         border-bottom: 1px solid $w-cl;

    //         &:hover {
    //             color: $main-cl;
    //         }
    //     }

    //     // .sub-menu a {
    //     //     padding-left: 45px;
    //     // }

    //     // .sub-menu .sub-menu a {
    //     //     padding-left: 60px;
    //     // }
    // }



    // &.mega-menu{
    //     min-width: 240px; 
    //     background-color: wheat;
    //     width: 100%;
    //     @include min-media($bk-1200){
    //         padding: 30px 0;
    //     }

    //     li{
    //         width: 33.33%;
    //     }

    //     .dropdown{
    //         i{
    //             color: $main-cl;
    //         }
    //     }

    //     .mega-link{
    //         @include min-media($bk-1200){

    //         }


    //         .mega-menu-list{
    //             left: 33.33%;
    //             width: calc(100 - 33.33%);
    //         }
    //     }

    //     .mega-menu-list{
    //         position: absolute;
    //         top: 0;
    //         height: 100%;
    //         width: 100%;


    //     }
    // }
}

.dropdown-new {
    position: relative;

    //hover trên deskop
    @include min-media($bk-d-1200) {
        &:hover {
            // >.sub-menu {
            //     // transform: translateY(0);
            //     pointer-events: auto;
            //     @include visible;
            // }

            .sub-box {
                display: block;

                >.sub-menu {
                    // transform: translateY(0);
                    pointer-events: auto;
                    @include visible;
                }
            }

            .fa.fa-angle-down {
                pointer-events: none;
            }

            a {
                &:hover {
                    i {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    // a {
    //     // font-weight: bold;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     // text-transform: uppercase;
    //     transition: all .3s ease;

    // }

    .fa.fa-angle-down {
        width: 20px;
        height: 100%;
        transition: transform .3s;
        text-align: center;
        margin-left: 5px;

        @include max-media($bk-d-1200) {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;

            &:before {
                @include pos-mid;
            }

            transform: rotate(-90deg);


            &.--show {
                transform: rotate(0deg);
            }

        }


    }
}

.header-menu-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include max-media($bk-d-1200) {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        height: 400px;
    }

    // li {
    a {
        position: relative;
        padding: 11px 22.5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include trans(.3s);

        //font-size: 12px;
        @include max-media($bk-d-1200) {
            padding: 10px 20px;
            border-bottom: 1px solid rgba($color: $bg-b-cl, $alpha: 0.16);
            transition: all .3s ease;
        }
    }

    >li {
        &:first-child {
            >a {
                @include min-media($bk-1200) {
                    padding-left: 0;
                }
            }
        }

        &:last-child {
            >a {
                padding-right: 0;
            }
        }

        >a {
            @include min-media($bk-1200) {
                color: $w-cl;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 1.5px;
                    background-color: $main-cl;
                    transition: all .3s ease;
                }

                &:hover {
                    // color: $main-cl;

                    &::before {
                        width: calc(100% - 24px);
                    }
                }
            }

            &:focus {
                @include max-media($bk-d-1200) {
                    color: $main-cl;
                }
            }
        }
    }

    .current-menu {
        // a {
        //     color: $main-cl;

        //     &::before{
        //         width: calc(100% - 24px);
        //     }

        // }
    }

    // }
}

.dropdown {
    position: relative;

    //hover trên deskop
    @include min-media($bk-d-1200) {
        &:hover {
            >.sub-menu {
                // transform: translateY(0);
                pointer-events: auto;
                @include visible;
            }

            .fa.fa-angle-down {
                pointer-events: none;
            }

            a {
                &:hover {
                    i {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .3s ease;
    }

    .fa.fa-angle-down {
        width: 20px;
        height: 100%;
        transition: transform .3s;
        text-align: center;
        margin-left: 5px;

        @include max-media($bk-d-1200) {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;

            &:before {
                @include pos-mid;
            }

            transform: rotate(-90deg);

            &.--show {
                transform: rotate(0deg);
            }

        }


    }


}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 200px;
    width: max-content;
    background-color: $bg-w-cl;
    box-shadow: 10px 10px 30px rgba($color: $bg-b-cl, $alpha: 0.16);

    @include min-media($bk-1200) {
        transition: .3s;
        transform: translateY(10px);
        pointer-events: none;
        @include hidden;
        // padding: 12.5px 0;
        padding: 25px 0;
        border-radius: 4px;
        min-width: 280px;

        .triangle {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 17px;
            transform: translateY(-50%);

            &:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 8.5px 17px 8.5px;
                border-color: transparent transparent $w-cl transparent;
                position: absolute;
                top: 0;
                left: 15px;
                z-index: -1;
            }
        }
    }

    @include max-media($bk-d-1200) {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        display: none;

        a {
            padding-left: 30px;
            border-bottom: 1px solid $w-cl;

            &:hover {
                // color: $w-cl;
                // background-color: $main-cl;
                color: $main-cl;
            }
        }

        .sub-menu a {
            padding-left: 35px;
        }

        .sub-menu .sub-menu a {
            padding-left: 50px;
        }
    }


    li {
        position: relative;

        &:not(:last-child) {
            @include min-media($bk-1200) {
                // margin-bottom: 25px;

                a {
                    // padding-bottom: 25px;
                    margin-bottom: 25px;
                }
            }
        }

        &.active {
            a {
                &::before {
                    @include visible;
                }

                color: $main-cl;
            }
        }

        &:focus-within,
        &:hover {
            &>a {
                color: $main-cl;

                &::before {
                    @include visible;
                }

                i {
                    transform: rotate(-90deg);
                }
            }
        }

        // &:hover {
        //     & > a {
        //         color: $main-cl ;
        //         &::before {
        //             @include visible;

        //         }

        //         i{
        //             transform: rotate(-90deg);
        //         }

        //     }
        // }

        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 50%;
        //     left: 0;
        //     width: 2px;
        //     height: 23px;
        //     background-color: $main-cl;
        //     border-radius: 99px;
        //     transform: translateY(-50%);
        //     @include hidden;
        // }
        a {
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 2px;
                height: 23px;
                background-color: $main-cl;
                border-radius: 99px;
                transform: translateY(-50%);
                transition: all .3s ease;
                @include hidden;
            }
        }
    }

    .sub-menu {
        top: -30px;
        left: 100%;

        .triangle {
            display: none;
        }
    }

    a {
        padding: 12.5px 25px;
        @include max-media($bk-d-1200){
            padding: 10px 20px;
        }


        @include min-media($bk-1200) {
            padding: 0 25px;

            &:hover {
                color: $main-cl;
            }
        }
    }


    &.mega-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        width: 730px;
        display: flex;
        flex-direction: column;
        padding-bottom: 93px;

        @include max-media($bk-d-1200) {
            width: 100%;
            top: -40px !important;
        }

        &.mega-menu-multi {
            >li {
                width: 33.33%;

                @include max-media($bk-d-1200) {
                    width: 100%;
                }
            }

            li {
                &:focus-within {
                    &>a {
                        color: $main-cl;
                        padding-left: 30px;

                        &::before {
                            @include visible;
                        }
                    }
                }

                &:hover {
                    &>a {
                        color: $main-cl;
                    }
                }
            }


        }

        &::before {
            content: '';
            background-color: rgba($color: $b-cl, $alpha: 0.1);
            position: absolute;
            top: 50%;
            left: 33.33%;
            width: 1px;
            height: calc(100% - 50px);
            transform: translateY(-50%);
            @include max-media($bk-d-1200){
                display: none;
            }
        }


        li {
            position: static;

            &.mobile-menu-back-item {
                display: none;

                @include max-media($bk-d-1200) {
                    order: -1;
                    display: block;
                }

                .mobile-menu-back-link {

                    &::after {
                        display: none;
                    }
                }
            }


            @include min-media($bk-1200) {

                // &.active {
                //     >a {
                //         color: $main-cl;

                //         &::after {
                //             transform: rotate(-90deg);
                //         }
                //     }

                //     .mega-list {
                //         @include visible;
                //         transform: scale(1);
                //     }
                // }

                &.drop-mega {
                    &:hover {
                        a {
                            &::after {
                                transform: rotate(-90deg);
                            }
                        }

                        .mega-list {
                            @include visible;
                            // transform: translateX(0);
                            transform: scale(1);
                        }
                    }
                }

            }
        }

        a {

            &::after {
                content: '\f107 ';
                font-family: 'Fontawesome';
                color: $main-cl;
                transition: all .3s ease;

            }

            &:hover {
                .mega-list {
                    width: calc(100% - 33.33%);
                    left: 33.33%;
                }
            }
        }

        .mega-list {
            position: absolute;
            top: 0;
            height: 100%;
            width: calc(100% - 33.33%);
            left: 33.33%;
            padding: 25px 25px 25px 25px;
            transition: all .3s ease;
            transform: scale(.8);
            // transform: translateX(-100%);
            @include hidden;
            @include max-media($bk-d-1200){
                width: 100%;
                position: relative;
                top: 0;
                left: 0;
                padding: 20px;
                @include visible;
                background-color: wheat;
                transform: scale(1);
            }

            .mega-img {
                position: absolute;
                top: 25px;
                right: 25px;
                bottom: 25px;
                width: 50%;

                @include max-media($bk-d-1200) {
                    display: none;
                }
            }

            li {
                @include min-media($bk-1200) {
                    width: 50%;
                }

                &:hover {
                    a {
                        padding-left: 30px;
                        color: $main-cl;

                        &::before {
                            @include visible;

                        }
                    }
                }

                &.active {
                    a {
                        color: $main-cl;
                        padding-left: 30px;

                        &::before {
                            @include visible;
                        }
                    }
                }

                a {
                    padding: 0;
                    transition: all .3s ease;
                    color: $b-cl;

                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 22px;
                        height: 1px;
                        background-color: $main-cl;
                        @include hidden;
                        transition: all .3s ease;
                    }

                    &::after {
                        display: none;
                    }
                }
            }

            .triangle {
                display: none;
            }

        }

    }


}