.find-class {
    padding: 60px 0 100px;
    overflow: hidden;

    @include max-media($bk-d-1200) {
        padding: 60px 0;
    }

    @include max-media($bk-d-992) {
        padding: 40px 0;
    }

    .seami-label {
        margin-bottom: 5px;
        justify-content: center;
    }

    .class-head {
        text-align: center;
        margin-bottom: 23px;

        @include max-media($bk-d-1024) {
            margin-bottom: 15px;
        }
    }

    .class-tab {
        width: 100%;

        .column {
            width: calc(100% / 3);

            @include max-media($bk-d-1024) {
                width: calc(100% / 2);
            }

            @include max-media($bk-576){
                width: 100%;
            }
        }
    }

    .tab {
        .tab-link {
            @include min-media($bk-768) {
                justify-content: center;
                border: 1px solid $main-cl;
                border-radius: 99px;
                width: max-content;
                margin: 0 auto;
                padding: 5px;
            }
        }

        .tab-title {
            padding: 10px 24px 11px;
            font-weight: bold;

            @include max-media($bk-d-992) {
                padding: 10px 15px;
            }

            &.active {
                color: $w-cl;
                background-color: $main-cl;
                border-radius: 99px;
            }
        }
    }

    .tab-tt {
        margin-bottom: 30px;

        @include max-media($bk-d-1024) {
            margin-bottom: 20px;
        }

    }

    .pagination {
        @include max-media($bk-d-1200) {
            margin-top: 30px;
        }
    }

    .class-box{

        .class-content{
            padding: 15px;
        }
    }





}