.team-teacher-detail {
    padding: 60px 0 80px;

    @include max-media($bk-d-1200) {
        padding: 60px 0;
    }

    @include max-media($bk-d-992) {
        padding: 40px 0;
    }

    .seami-label {
        margin-bottom: 5px;
    }

    .teacher-title {
        margin-bottom: 30px;

        @include max-media($bk-d-1200) {
            margin-bottom: 20px;
        }
    }

    .column {
        &.teacher-ig {
            width: calc(100% / 12 * 3);
        }

        &.teacher-tx {
            width: calc(100% / 12 * 9);
        }
    }

    .teacher-avatar {
        margin-bottom: 15px;

        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            border-radius: 100%;

        }
    }

    .teacher-ig-content {
        .teacher-job {
            margin-bottom: 5px;
        }

        .teacher-name {
            margin-bottom: 35px;
        }

        .teacher-contact {
            width: 130px;
            margin: 0 auto;
            height: 40px;
            color: $w-cl;
            background-color: $main-cl;
            border-radius: 99px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid transparent;
            transition: all .3s ease;

            &::after {
                content: '';
                background-image: url('../img/svg/icon-arrow-left.svg');
                width: 16px;
                height: 16px;
                filter: brightness(0) invert(1);
                margin-left: 13px;
                transition: all .3s ease
            }

            &:hover {
                border-color: $main-cl;
                background-color: $w-cl;
                color: $main-cl;

                &::after {
                    filter: none;
                }
            }
        }
    }
}

.white-popup-block {
    &.block-t-contact {
        padding: 25px;
    }
}

.teacher-popup {
    .teacher-title {
        margin-bottom: 30px;
        line-height: 1.3;

        @include max-media($bk-d-1200) {
            margin-bottom: 20px;
        }
    }

    .teacher-form {}

    .teacher-group {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        &:not(:first-child) {
            margin-top: 35px;
        }

        .teacher-f {
            width: calc(50% - 15px);
        }
    }

    .teacher-f {
        width: 100%;
        position: relative;

        .label {
            font-size: 12px;
            font-weight: 300;
            color: rgba($color: $b-cl, $alpha: .5);
        }

        .t-note {
            color: $main-cl;
            font-size: 12px;
            font-weight: 300;
            position: absolute;
            bottom: -5px;
            left: 0;
            transform: translateY(100%);
        }

        .f-control {
            border: none;
            border-bottom: 1px solid rgba($color: $b-cl, $alpha: .2);
            padding: 5px 0;
            border-radius: 0px;
            height: auto;

            &:hover,
            &:focus {
                border-color: $main-cl;
            }

            &::placeholder {
                color: rgba($color: $b-cl, $alpha: .6);
                font-weight: 300;
            }
        }

        .f-select {
            width: 100%;
            border: 1px solid rgba($color: $b-cl, $alpha: .1);
            border-radius: 99px;
            background-image: url('../img/svg/icon-down.svg');
            background-position: right 25px center;
            background-repeat: no-repeat;
            display: block;
            padding: 12px 25px;
            outline: none;
            cursor: pointer;
            transition: all .3s ease;

            &:hover,
            &:focus {
                border-color: $main-cl;
            }
        }
    }

    .mt-35 {
        margin-top: 35px;
    }

    textarea.f-control {
        border-radius: 4px;
        border-color: rgba($color: $b-cl, $alpha: .2);
        padding: 20px 25px;
        height: 100px !important;
        resize: none;

        &::placeholder {
            color: rgba($color: $b-cl, $alpha: .6);
            font-weight: 300;
        }
    }

    .teacher-accept {
        margin-top: 23px;

        .label {
            input {
                display: none;

                &:checked+.accept-box {
                    .checkmark {
                        &::after {
                            @include visible;
                        }
                    }
                }
            }

            .accept-box {
                display: flex;
                align-items: center;
                cursor: pointer;

                .checkmark {
                    position: relative;
                    border-radius: 4px;
                    border: 1px solid rgba($color: $b-cl, $alpha: .2);
                    width: 14px;
                    height: 14px;
                    display: inline-block;
                    margin-right: 11px;

                    &::after {
                        content: '\f00c';
                        font-family: 'Fontawesome';
                        @include pos-mid;
                        font-size: 8px;
                        @include hidden;
                    }
                }

                p {
                    opacity: .6;
                }

            }
        }
    }

    .f-submit {
        margin-top: 23px;
        width: 170px;
        height: 46px;
        border-radius: 99px;
        background-color: $main-cl;
        color: $w-cl;
        padding: 15px 0;
        text-transform: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover{
            color: $main-cl;
            background-color: $w-cl;
            img{
                filter: none;
            }
            
        }
        

        img{
            filter: brightness(0) invert(1);
            margin-left: 13px;
            transition: all .3s ease;
        }

    }

}