.gallery-seami {
    padding: 60px 0 100px;
    overflow: hidden;

    @include max-media($bk-d-1200) {
        padding: 60px 0;
    }

    @include max-media($bk-d-992) {
        padding: 40px 0;
    }

    .gallery-head {
        margin-bottom: 40px;

        @include max-media($bk-d-1200) {
            margin-bottom: 30px;
        }
    }

    .seami-label {
        justify-content: center;
    }

    .gallery-content {
        width: 100%;

        .columns{
            margin: -5px;

            &:nth-child(2){
                flex-direction: row-reverse;
                padding-top: 5px;
            }

           
        }

        .column{
            width: 50%;
            padding: 5px;
            @include max-media($bk-d-768){
                width: 100%;
            }
            .column{
                @include max-media($bk-d-768){
                    width: 50%;
                }  
            }
        }
    }

    .gallery-box{
        overflow: hidden;
    }

    .gallery-img{
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
        
        img{
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            transition: all .3s ease;
        }
    }

    




    .grid-sizer,
    .grid-item {
        width: 25%;
        // @include max-media($bk-d-992){
        //     width: 50%;
        // }
    }


    .grid-item {
        height: auto;
        float: left;
        border: none;
        border-radius: 0%;
        background-color: $w-cl;
        // height: 292.5px;1
        padding: 5px;

    }
    .grid-item--width1 {
        width: 50%;
    }


}