.seami-public {
    padding: 60px 0 100px;

    @include max-media($bk-d-1200) {
        padding: 60px 0;
    }

    @include max-media($bk-d-1024) {
        padding: 40px 0;
    }

    .column {
        &.lic-main {
            width: calc(100% / 12 * 8 - 30px);
            @include max-media($bk-d-768){
                width: 100%;
            }
        }

        &.lic-sibar {
            width: calc(100% / 12 * 4 + 30px);
            @include max-media($bk-d-768){
                width: 100%;
            }
        }
    }



    .lic-sidebar {
        .lic-search {
            padding: 29px 25px 20px;
            background-color: rgba($color: $blue-cl, $alpha: .05);
            border-radius: 4px;
            margin-bottom: 30px;

            @include max-media($bk-d-1024) {
                padding: 20px;
            }

            @include max-media($bk-d-1200) {
                margin-bottom: 20px;
            }

            @include max-media($bk-d-992) {
                margin-bottom: 15px;
            }

            .search-form {
                background-color: transparent;
            }

            .f-control {
                border: none;
                border-bottom: 1px solid $main-cl;
                border-radius: 0;
                background-color: transparent;
                padding: 0 40px 7px 0;
                height: 100%;
                @include fz-16;
                font-weight: 300;

                &::placeholder {
                    color: rgba($color: $b-cl, $alpha: .5);
                }
            }

            .f-submit {
                height: 100%;
                text-align: right;
                width: 30px;

                img {
                    margin-left: auto;
                }
            }
        }

        .lic-catalog {
            margin-bottom: 30px;

            @include max-media($bk-d-1200) {
                margin-bottom: 20px;
            }

            @include max-media($bk-d-992) {
                margin-bottom: 15px;
            }

            .catalog-title {
                line-height: 1.2;
                margin-bottom: 10px;

                @include max-media($bk-d-1024) {
                    margin-bottom: 5px;
                }
            }

            .catalog-item {
                padding: 15px 0;
                cursor: pointer;

                @include max-media($bk-d-1024) {
                    padding: 10px 0;
                }

                &:not(:first-child) {
                    border-top: 1px solid rgba($color: $b-cl, $alpha: .1);
                }

                &:hover {
                    .catalog-tt {
                        color: $main-cl;
                    }
                }

                .catalog-tt {
                    font-weight: 300;
                    transition: all .3s ease;
                    @include fz-16;
                    @include lh(24, 16);
                    width: 100%;
                    display: block;
                }
            }
        }

        .lic-post-new {
            margin-bottom: 45px;

            @include max-media($bk-d-1200) {
                margin-bottom: 30px;
            }

            .lic-pos-title {
                margin-bottom: 30px;

                @include max-media($bk-d-1200) {
                    margin-bottom: 20px;
                }

                @include max-media($bk-d-992) {
                    margin-bottom: 15px;
                }
            }

            .lic-pos-item {
                display: flex;
                align-items: center;

                &:hover {
                    .lic-pos-link {
                        color: $main-cl;
                    }
                }

                &:not(:first-child) {
                    padding-top: 15px;
                    margin-top: 15px;
                    border-top: 1px solid rgba($color: $b-cl, $alpha: .1);

                    // @include max-media($bk-d-1200) {
                    //     padding-top: 20px;
                    //     margin-top: 20px;
                    // }

                    // @include max-media($bk-d-992) {
                    //     padding-top: 15px;
                    //     margin-top: 15px;
                    // }
                }

                .lic-pos-img {
                    width: 60px;
                    height: 60px;

                    // @include max-media($bk-d-992) {
                    //     width: 60px;
                    //     height: 60px;
                    // }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                        object-fit: cover;
                    }
                }

                .lic-pos-text {
                    padding-left: 13px;
                    width: calc(100% - 60px);

                    // @include max-media($bk-d-992) {
                    //     width: calc(100% - 70px);
                    // }
                }

                .lic-pos-link {
                    margin-bottom: 13px;
                    font-weight: bold;
                    @include line-clamp(2);
                    @include fz-16;
                    transition: all .3s ease;

                    @include max-media($bk-d-1200) {
                        margin-bottom: 7px;
                    }
                }

                .lic-pos-date {
                    color: $g-7070-cl;
                    font-weight: 300;
                }
            }
        }

        .lic-tags {
            .tags-title {
                margin-bottom: 30px;

                @include max-media($bk-d-1200) {
                    margin-bottom: 20px;
                }
            }

            .tags-content {
                display: flex;
                flex-wrap: wrap;
                margin: -4px -5.5px;

                @include max-media($bk-d-1024) {
                    margin: -5px;
                }
            }

            .tags-box {
                padding: 4px 5.5px;

                @include max-media($bk-d-1024) {
                    padding: 5px;
                }
            }

            .tags-item {
                display: block;
                padding: 7px 15px;
                background-color: rgba($color: $main-cl, $alpha: .1);
                border-radius: 99px;
                text-align: center;
                transition: all .3s ease;
                line-height: 1.7;

                &:hover {
                    color: $w-cl;
                    background-color: $main-cl;
                }
            }

        }
    }


    .lic-head {
        margin-bottom: 30px;

        @include max-media($bk-d-1200) {
            margin-bottom: 20px;
        }
    }

    .lic-inner {
        padding-right: 40px;

        @include max-media($bk-d-1200) {
            padding-right: 10px;
        }
        @include max-media($bk-d-768){
            padding-right: 0;
        }

        .lic-content {
            .column {
                width: 50%;
                @include max-media($bk-d-992){
                    width: 100%;
                }
            }
        }


        .lic-box {
            border-radius: 4px;
            box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .16);

            &:hover {
                .lic-tt {
                    color: $main-cl;
                }

                .lic-act {
                    .lic-more {
                        padding-right: 13px;

                        &::after {
                            @include visible;
                        }
                    }
                }
            }

            .lic-img {
                transition: all .3s e;

                img {
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    object-fit: cover;
                }
            }

            .lic-con {
                padding: 13px 25px 20px;

                @include max-media($bk-d-992) {
                    // padding: 10px 15px;
                }
            }

            .lic-info {
                display: flex;
                align-items: center;
                margin-bottom: 13px;

                // @include max-media($bk-d-768) {
                //     margin-bottom: 10px;
                // }

                .lic-avatar {
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                    }
                }

                .lic-name {
                    padding-left: 13px;
                }
            }

            .lic-tt {
                display: block;
                margin-bottom: 13px;
                @include lh(24, 16);
                transition: all .3s ease;
                @include line-clamp(2);

                // @include max-media($bk-d-992) {
                //     margin-bottom: 10px;
                // }
            }

            .lic-desc {
                @include line-clamp(2);
                margin-bottom: 22px;

                @include max-media($bk-d-992) {
                    margin-bottom: 15px;
                }
            }

            .lic-act {
                display: flex;
                align-items: center;
                justify-content: space-between;

                // @include max-media($bk-d-992) {
                //     flex-direction: column-reverse;
                //     align-items: flex-start;
                // }

                .lic-more {
                    display: inline-block;
                    font-size: 12px;
                    font-weight: bold;
                    color: $main-cl;
                    position: relative;
                    transition: all .3s ease;

                    &::after {
                        content: '';
                        width: 16px;
                        height: 16px;
                        background-image: url('../img/svg/icon-arrow-left.svg');
                        background-position: center;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        transition: all .3s ease;
                        transform: translate(100%, -50%);
                        @include hidden;
                    }
                }

                .act-rt {
                    display: flex;
                    align-items: center;

                    .lic-share {
                        padding-right: 25px;
                    }

                    .lic-like {
                        cursor: pointer;

                        &::before {
                            content: '\f08a ';
                            font-family: 'Fontawesome';
                            color: $main-cl;
                            padding-right: 13px;
                            transition: all .3s ease;
                            cursor: pointer;
                        }

                        &:hover {
                            &::before {
                                content: '\f004';
                            }
                        }

                        &.active {
                            &::before {
                                content: '\f004';
                            }
                        }
                    }
                }
            }




        }


    }

    .pagination{
        @include max-media($bk-d-1200){
            margin-top: 30px;
        }
    }


}